<div class="com10newsinput">
<table class="table com10newsinput">
<tr>
<td class="text-right"><h4><i class="fa fa-clipboard clipboard-color fa-2x" aria-hidden="true"></i></h4></td>
<td class="forumname">
<div class="pull-right forumfontinfo">
<div class="infopoxinpost"><strong>{USERNUMB}</strong><br /><div>Benutzer</div></div>
<div class="infopoxinpost"><strong>{POSTREPLY}</strong><br /><div>{POSTREPLYFONT}</div></div>
<div class="infopoxinpost"><strong>{POSTHITS}</strong><br /><div>Aufrufe</div></div>
</div>
<h4><a href="#">{TOPICNAME}<br><small>von {USERNAME}</small></h4></td>
</tr>
</table>
<div class="text-right">{ANTWORTEN}</div> 
<br />   
	{EXPLODE}   
      <ul class="timeline" id="{id}">
        <li class="timeline-inverted">
          <div class="timeline-badge">{avatar}</div>
          <div class="timeline-panel boxshadow">
            <div class="timeline-heading">
            <div class="timeline-title">
            <div class="row row2">
  <div class="col-xs-6 col-md-4 userilchpost usernameforumpost"><h4><span class="ilchforum_time avatarforum2">{avatar}</span><a name="{id}"></a>{erst}</h4> <small>{rang}</small>{posts}<span class="ilchforum_time"><br><i class="glyphicon glyphicon-time" style="margin-top:7px;"></i> {date}</span></div>
  <div class="col-xs-6 col-md-4 pull-right text-right userilchpost1"><div class="btn-group">
  <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bars"></i>  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right text-center" role="menu">
    {change}
    <li><a href="index.php?forum-newpost-{TID}-z{id}"><i class="fa fa-quote-right userdropspan" aria-hidden="true"></i>{_lang_quote}</a></li>
    {_if_{SESSION_AUTHRIGHT}<='-1'}<li><a href="?forum-inform-p{id}"><i class="fa fa-exclamation-triangle userdropspan" aria-hidden="true"></i>Beitrag melden</a></li>{/_endif}
    {delete}
  </ul>
</div><br>
<small class="text-muted ilch-none"><i class="glyphicon glyphicon-time"></i> {date}</small>
</div>
</div>

              </div>
            </div>
            <hr class="hrtop">
            <div class="timeline-body">
          <p>{txt}
					        {sig}</p>
             <div class="text-right"><a href="index.php?forum-showposts-{TID}-p{page}#{id}" rel="tooltip" title="{i}. Post in diesem Thema"># {i}</a><span style="margin-left:8px;">{forumteilen}</span><a style="margin-left:8px;" rel="tooltip" title="nach oben" href="#" class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>  
                    </div>
          </div>
        </li>
   </ul>

  <div class="modal fade forumteilen{i}" tabindex="-1" role="dialog" aria-labelledby="forumteilentitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content newsteilenmodal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Schlieﬂen"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="forumteilentitle"><i class="fa fa-share-alt" aria-hidden="true"></i> Teilen</h4>
      </div>
      <div class="modal-body">
        <p>{teilenpermalink}
{teilenbbcode}
{teilenhtml}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schlieﬂen</button>
      </div>
    </div>
  </div>
</div>
  
	{EXPLODE}
<div class="text-right">{ANTWORTEN}</div>
<div class="text-center">{SITELINK}</div>
</div>
{EXPLODE}
<div class="com10newsinput">
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    {_lang_administrattopic}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="javascript:renametopic()">{_lang_rename}</a></li>
    <li><a href="index.php?forum-edittopic-{tid}-2">{_lang_delete}</a></li>
    <li><a href="index.php?forum-edittopic-{tid}-3">{_lang_shift}</a></li>
    <li class="divider"></li>
    <li><a href="index.php?forum-edittopic-{tid}-4-2">{status}</a></li>
<li><a href="index.php?forum-edittopic-{tid}-5">{festnorm}</a></li>
  </ul>
</div>
</div>
<script language="JavaScript" type="text/javascript">
<!--
  function renametopic () {
	  var x = prompt ( "Bitte den neuen Namen vom Thema eintragen" , "" );
		if ( x ) {
		  document.location.href="index.php?forum-edittopic-{tid}-1=0&newTopic="+x;
		}
	}
	
//-->
</script>
