 {USERAVATAR} 
 <div class="btn-group" role="group"  data-toggle="tooltip" data-placement="top" title="User Menu">
    <button type="button" class="btn btn-com10 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu userdropspancolor" role="menu" aria-labelledby="dLabel">
<li class="text-center"><strong>{NAME}</strong></li>
<li class="divider"></li>
<li><a href="index.php?user-8"><i class="fa fa-cogs userdropspan" aria-hidden="true"></i>Profil editieren</a></li>
<li>{PROFILANSICHT}</li>
<li><a href="index.php?forum-privmsg"><i class="fa fa-envelope-o userdropspan" aria-hidden="true"></i>Mein Postfach</a></li>
<li><a href="?search-aeit"><i class="fa fa-user-circle-o userdropspan" aria-hidden="true"></i>Meine Beitr&auml;ge ({POSTS})</a></li>
<li><a href="index.php?forum-augt"><i class="fa fa-clipboard userdropspan" aria-hidden="true"></i>Neue Beitr&auml;ge ({LPOSTS})</a></li>
<li class="divider"></li>
<li><a href="javascript:location.reload()" target="_self"><i class="fa fa-refresh userdropspan" aria-hidden="true"></i>Neu laden</a><li>
<li><a href="index.php?user-3"><i class="fa fa-sign-out userdropspan" aria-hidden="true"></i><strong>Abmelden</strong></a><li>
{ADMIN}
    </ul>
      </div>  
  {NACHRICHTEN}
  {NEWBEITRAG}
  {UGALLERY}
                        
{EXPLODE}


