<div class="com10newsinput">
<h4><i class="fa fa-sign-in" aria-hidden="true"></i> {_lang_LOGIN}</h4>
<hr class="hrtop">
<form action="index.php?user-login" method="POST" class="form-horizontal" role="form">
			  <fieldset>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user"></i></span>
  <input type="text" tabindex="1" name="name" maxlength="15" class="form-control" placeholder="Benutzername">
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
  <input type="password" tabindex="2" maxlength="20" name="pass" class="form-control" placeholder="Passwort">
</div>
<input class="btn btn-primary" type="submit" tabindex="3" value="{_lang_login}" name="user_login_sub" >		
<br><br>  
<a href="index.php?user-regist">{_lang_registernow}</a><br>
<a href="index.php?user-remind">{_lang_forgottenpassword}?</a>
</div>
</div>
</fieldset>
</form>
</div>
{EXPLODE}
{_lang_yourareloged}!
{EXPLODE}
{_lang_login3failure}