<div class="com10newsinput">
<div class="btn-group-plaze">
<div class="btn-group">
<a href="?user" class="btn btn-default btn-xs">Mitglieder Liste</a>
<a href="?onlinelist" class="btn btn-default btn-xs">Benutzer Online</a>
<a href="#usersearch" class="btn btn-default btn-xs">Mitgliedersuche</a>
</div></div>
<div class="row rowuserlist">
{EXPLODE}
<div class="col-sm-6userlist">
<div class="userlistbg">
<table>
<tr>
<td class="userlistdtavatar"><a href="index.php?user-details-{UID}">{AVATAR}</a></td>
<td><a class="userlistbglink" href="index.php?user-details-{UID}">{NAME}</a><span class="label label-primary pull-right label-userlist">{GRUPE}</span><br>
Mitglied seit {DATE}</span>
<div class="dropdown pull-right">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header">{_lang_rank}: {RANG}</li>
    <li class="dropdown-header">{_lang_posts}: {POSTS}</li>
  </ul>
</div>
</td>
</tr>
</table>
</div>
</div>
{EXPLODE}
<a name="usersearch"></a>
<div class="text-center">{SITELINK}</div>
</div>
<form method="GET" action="index.php">
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="input-group">
      <input type="hidden" name="user" value="" /><input type="text" name="filtername"  value="{filtername}"  class="form-control" placeholder="Benutzername" />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" value="{_lang_filter}">Suchen</button>
      </span>
    </div>
  </div>
</div>
</form>
</div>