<div class="com10newsinput">
<form action="index.php?user-13" method="POST"> 
<h4><i class="fa fa-key" aria-hidden="true"></i> {_lang_pleasefillinyournickname}</h4>
<hr class="hrtop">
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="hidden" name="user" value="" /><input type="text" name="name"  value=""  class="form-control" placeholder="Benutzername" />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" >{_lang_newpassword}</button>
      </span></div></div></div>
</form>
</div>