<div class="com10newsinput">
<a class="btn btn-primary" href="javascript:history.back(1)">{_lang_back}</a>
<br>
<br>
<table class="table table-bordered table-hover">
  <tr > 
    <th class="active" colspan="3"><b>{_lang_detailsfrom} {NAME}</b></th>
  </tr><tr>
    <td>{_lang_nickname}</td>
    <td>{NAME}</td>
    <td class="hidden-xsmin" width="30%" rowspan="{rowspan}" valign="top" align="center">
		  {AVATA}
			<br /><br />
			<font class="smalfont">{RANG}</font>
		</td>
  </tr><tr>
    <td >{_lang_regsince}</td>
    <td>{JOINED}</td>
  </tr><tr>
    <td>{_lang_lastactivity}</td>
    <td>{LASTAK}</td>
  </tr><tr>
    <td>{_lang_posts2}</td>
    <td>{POSTS}, {_lang_perday}: {postpday}</td>
  </tr>	
{profilefields}
</table>
<br>
<a class="btn btn-primary" href="javascript:history.back(1)">{_lang_back}</a>
</div>