<div class="com10newsinput">
    <h3>Awards</h3>
    <hr class="hrtop"> {EXPLODE}
    <div class="well wellsmnews">
        <div class="row">
            <div class="col-md-1 imgresponsiv text-center">{bildutime}</div>
            <div class="col-md-11"><strong>{_lang_for} {team}</strong><span class="pull-right">{time}</span>
                <br><span class="label label-primary">{_lang_place}: {platz}</span>
                <br>
                <br>{wofur}
                <br>{_lang_desc}: {text}</div>
        </div>
    </div>
    {EXPLODE}
</div>