<div class="com10newsinput">
    <table class="table  table-bordered table-hover">
        <tr>
            <td>{_lang_Monday}</td>
            <td>{MON}</td>
        </tr>
        <tr>
            <td>{_lang_Tuesday}</td>
            <td>{DIE}</td>
        </tr>
        <tr>
            <td>{_lang_Wednesday}</td>
            <td>{MIT}</td>
        </tr>
        <tr>
            <td>{_lang_Thursday}</td>
            <td>{DON}</td>
        </tr>
        <tr>
            <td>{_lang_Friday}</td>
            <td>{FRE}</td>
        </tr>
        <tr>
            <td>{_lang_Saturday}</td>
            <td>{SAM}</td>
        </tr>
        <tr>
            <td>{_lang_Sunday}</td>
            <td>{SON}</td>
        </tr>
    </table>
</div>