<div class="com10newsinput">
<table width="100%" class="table"><tr><td width="70%" class="text-left">
<a class="btn btn-primary btn-xs" href="index.php?forum-privmsg">Eingang</a> <a class="btn btn-primary btn-xs" href="index.php?forum-privmsg-showsend">Ausgang</a></td><td width="30%" class="text-right">
<a class="btn btn-primary btn-xs" href="index.php?forum-privmsg-new">PM schreiben</a></span></td></tr></table>
 
<table class="table">
    <tr>
		  <td class="forumname"><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> <b>{titel}</b></a><br><span>{_lang_sentto} <b>{name}</b> <span class="ilchforum_time"><br></span>{_lang_on} {time} Uhr</span></td>
		</tr><tr>
		  <td>{txt}</td>
	  </tr><tr>
		  <td><input class="btn btn-danger" type="button" value="{_lang_delete}" onclick="document.location.href ='?forum-privmsg-delete-{id}-s'"></td>
</table>
</div>