<div class="com10newsinput">
<table width="100%" class="table"><tr><td width="70%" class="text-left">
<a class="btn btn-primary btn-xs" href="index.php?forum-privmsg">Eingang</a> <a class="btn btn-primary btn-xs" href="index.php?forum-privmsg-showsend">Ausgang</a></td><td width="30%" class="text-right">
<a class="btn btn-primary btn-xs" href="index.php?forum-privmsg-new">PM schreiben</a></span></td></tr></table>
<form action="index.php?forum-privmsg-new" method="POST">
	<input type="hidden" name="empfid" value="{sid}">
	<input type="hidden" name="bet" value="{titel}">
	<input type="hidden" name="anhang" value="{anhang}">
  <table class="table table-bordered table-hover">
    <tr class="active">
		  <td><b>{titel}</b></td>
		</tr><tr>
      <td>{_lang_sentby} <b>{name}</b> {_lang_on} {time}</td>
    </tr><tr>
		  <td>{txt}</td>
	  </tr><tr>
		  <td>
			  <input class="btn btn-primary" name="re" type="submit" value="{_lang_answer}">
				   &nbsp;
				<input class="btn btn-danger" type="button" value="{_lang_delete}" onclick="document.location.href ='?forum-privmsg-delete-{id}'">
			</td>
  </table>   
</form>	
</div>